@media only screen and (max-width:1000px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr;
    }
    .button {
        padding: 0;
        width: 100%;
    }
    .button img {
        justify-self: end;
    }
    .ad {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 75vh);
        height: 150vh;
    }
    .ad-content {
        grid-row: 1/2;
        grid-column: 1/-1;
    }
    .grass {
        grid-row: 2/-1;
        grid-column: 1/-1;
    }
    .couple {
        grid-row: 2/8;
        grid-column: 2/9;
    }
    .home2 {
        width: 100%;
        grid-column: 6/-1;
        grid-row: 4/-1;
    }
    .box-container {
        height: 250vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 15%;
    }
}

@media only screen and (max-width:800px) {
    .header {
        height: 120vh;
        grid-template-columns: 1fr;
        grid-template-rows: 80vh auto;
    }
    .relators {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 0%;
        justify-items: center;
        align-items: center;
    }
    .relators span {
        text-align: center;
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    .rel {
        width: 30%;
        padding: 0;
        grid-row: 2/-1;
    }
    .menu {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3, 1fr;
        height: 60vh;
        padding: 5%;
    }
    .ad {
        height: 120vh;
        grid-template-rows: 50vh 70vh;
    }
}

@media only screen and (max-width:600px) {
    .ad {
        height: 90vh;
        grid-template-rows: 40vh 50vh;
    }
    .ad-content button {
        font-size: 1vw;
    }
    .box-container {
        height: 500vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        padding: 5% 20% 0 20%;
        grid-gap: 0;
    }
    .box {
        height: 70vh;
    }
    .box h5 {
        font-size: 2vw;
    }
    .footer {
        height: 45vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}